body {
    font-size: 14px;
}
.bold {
    font-weight:bold;
}
.bold-italic {
    font-weight:bold;
    font-style:italic;
}
.italic {
    font-style:italic;
}

/* Размеры для заголовков */
.h1 { font-size: 48px; }
.h2 { font-size: 36px; }
.h3 { font-size: 24px; }